* {
  padding: 0;
  margin: 0;
}
header {
  max-width: 1140px;
  margin: 30px auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  gap: 48px;
}
.navbar ul a {
  text-decoration: none;
}
.nav-banner {
  display: flex;
  margin-top: 120px;
  align-items: flex-end;
}
.nav-banner div h2 {
  font-size: 65px;
  font-family: "Noto Serif", serif;
}
.nav-banner div p {
  font-size: 22px;
  color: rgba(0, 0, 0, 0.5);
}
.our-plants {
  max-width: 1140px;
  margin: 120px auto 0;
  text-align: center;
}
.our-plants h2 span {
  font-size: 50px;
  color: #e95a08;
}
.our-plants h2 {
  font-size: 50px;
}
.our-plants p {
  font-size: 22px;
  margin-top: 16px;
}
.container {
  max-width: 1140px;
  margin: 50px auto 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
.card {
  text-align: center;
}
.card h4 {
  font-size: 22px;
  margin-bottom: 12px;
  margin-top: 20px;
}
.card p {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
}
.card button {
  height: 50px;
  width: 270px;
  background-color: #e95a08;
  color: white;
  border: none;
  font-weight: 600;
}
.card button:hover{
  background-color: red;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}
.contant {
  max-width: 1140px;
  margin: 210px auto 0;
  display: flex;
  gap: 60px;
}
.left {
  position: relative;
}
.right {
  margin-top: 40px;
}
.right h1 {
  font-size: 50px;
  font-family: "Noto Serif", serif;
}
.right ul li {
  font-size: 22px;
  margin-left: 40px;
  color: rgba(0, 0, 0, 0.5);
}
.sill {
  height: 286px;
  width: 286px;
  position: absolute;
  top: -130px;
  right: -100px;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.3));
}
.latest-deals {
  max-width: 1140px;
  margin: 134px auto 0;
  text-align: center;
}
.latest-deals h2 {
  font-size: 50px;
  font-family: "Noto Serif", serif;
}
.latest-deals p {
  font-size: 23px;
  margin-top: 15px;
  letter-spacing: 1.5px;
}

.offer-section {
  display: flex;
  gap: 20px;
  max-width: 1140px;
  margin: 120px auto 0;
  width: 100%;
}
.left-column {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 1;
}
.offer-card {
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 15px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  overflow: hidden;
}
.offer-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
}
.offer-card h3,
.offer-card p {
  z-index: 1;
  margin: 5px 0;
}
.right-banner {
  flex: 2;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 420px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
  font-size: 25px;
}
.right-banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 0;
  border-radius: 20px;
}
.right-banner h2,
.right-banner p {
  z-index: 1;
  margin: 5px 0;
}
.colourful-branch {
  background-image: url(../assets/news-letter-bg.png);
  max-width: 1440px;
  height: 533px;
  margin: 120px auto 0;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}
.colourful-branch h2 {
  font-size: 50px;
  color: white;
  font-family: "Noto Serif", serif;
  margin-bottom: 23px;
}
.colourful-branch input {
  height: 50px;
  width: 644px;
  padding: 0 20px;
}
.colourful-branch button {
  color: white;
  height: 52px;
  width: 186px;
  background-color: #e95a08;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.colourful-branch button:hover{
   background-color: red;
  transform: scale(1.05);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.footer-container {
  background-color: #f8f9fb;
  padding: 40px 20px;
  max-width: 1400px;
  margin: 0 auto;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}

.footer-left .logo {
  width: 120px;
  margin-bottom: 10px;
}

.footer-links {
  display: flex;
  gap: 110px;
}

.footer-links div {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  font-size: 16px;
  color: rgba(107, 114, 128, 1);
}

.footer-social {
  display: flex;

  gap: 24px;
}

@media (max-width: 576px) {
  header {
    max-width: 100%;
    margin: 0 auto;
    padding: 10px 14px 10px 15px;
  }
  .navbar ul a span {
    display: none;
  }
  .navbar {
    justify-content: space-between;
  }
  .navbar img {
    width: 63px;
    height: 38px;
  }
  .navbar ul {
    gap: 50px;
  }

  .nav-banner {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 20px;
  }
  .nav-banner img {
    order: -1;
    width: 103.5%;
    margin-bottom: 20px;
  }

  .nav-banner div h2 {
    font-size: 30px;
    line-height: 1.3;
  }

  .nav-banner div h2 span {
    font-size: 30px !important;
    color: #e95a08;
  }

  .nav-banner div p {
    white-space: normal;
    overflow-x: hidden;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 10px;
    color: rgba(0, 0, 0, 0.6);
  }

  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2px;
    padding: 0 10px;
  }
  .our-plants {
    padding: 0 10px;
  }
  .card {
    background: #fff;
    border-radius: 8px;
    padding: 8px;
    text-align: center;
    width: 150px;
  }

  .card img {
    width: 90%;
    height: auto;
  }
  .latest-deals p{
    
    padding: 0 10px;
  }

  .card h4 {
    font-size: 16px;
    margin: 8px 0 4px;
  }

  .card p {
    font-size: 14px;
    margin-bottom: 8px;
  }

  .card button {
    font-size: 12px;
    padding: 6px 8px;
    background-color: #e95a08;
    color: white;
    border: none;
    cursor: pointer;
    width: 140px;
  }
  .sill {
    display: none;
  }
  .contant {
    display: grid;
    padding: 0 15px;
    margin-top: 40px;
    grid-template-columns: repeat(1, 1fr);
  }
  .left img {
    width: 90%;
    margin-left: 10px;
  }
  .right h1 {
    font-size: 35px;
  }
  .right ul li {
    white-space: nowrap;
    font-size: 15px;
    text-overflow: ellipsis;
  }
  .offer-section {
    flex-direction: column;
    gap: 15px;
    margin: 30px auto 0;
    width: 90%;
    padding: 0 10px;
  }

  .left-column {
    flex-direction: column;
    gap: 15px;
  }

  .offer-card {
    width: 100%;
    height: 350px;
    font-size: 20px;
    margin: 0;
  }

  .right-banner {
    width: 100%;
    font-size: 18px;
    margin: 0;
    height: auto;
    aspect-ratio: 4/3;
  }

  .colourful-branch div {
    gap: 10px;
    padding: 15px;
    align-items: center;
    
  }

  .colourful-branch h2 {
    font-size: 20px;
    text-align: center;
  }
  .colourful-branch input {
    height: 50px;
    width: 150px;
  }

  .colourful-branch button {
    height: 52px;
    width: 103px;
  }


.footer-content {
    flex-direction: column;
    text-align:left;
    
  }

  .footer-left {
    margin-bottom: 20px;
  }

  .footer-links {
    flex-direction: column;
    gap: 40px;
    
  }

  .footer-social {
    margin-top: 20px;
  }

  .footer-left p {
    font-size: 18px;
  }
}



}
